body {
    padding-top: 80px;
    
}
/* SCROLL BAR STYLE */

::-webkit-scrollbar {
    width: 0.7em;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: rgb(153, 170, 173);
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar {
    width: .6em;
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgba(95, 158, 160, 0.603);
}

/* SCROLL BAR STYLE */

#side-nav-container {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 10%;
}

.side-nav {
    list-style: none;
    padding-left: 16px;
    width: 100%;
}

.side-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    color: cadetblue;

    display: inline-block;
    padding: 0 0 3px 0;
    width: 100%;
    text-align: right;
    /* border-top-left-radius: 10px; */
    border-bottom-left-radius: 8px;
    /* background-image: linear-gradient(to right,  rgb(186, 209, 218), rgb(255, 255, 255)); */
    background-image: linear-gradient(to right,  rgb(189, 220, 221), rgb(255, 255, 255));
    transform: translateY(30%);
}

.side-nav-link:hover {
    text-decoration: none;
    color: rgb(68, 132, 158);
    /* color: rgb(94, 181, 184); */
    /* transition: 0.3s ease-out;
    transform: scale(1); */
}


#categories {
    list-style: none;
}

#categories .side-nav-link {
    font-size: .8em;
    letter-spacing: .2em;
}

.navbar-laravel {
    background-color: rgb(95, 158, 160);
    padding-top: 0;
    padding-bottom: 0;
   /* background-color: #254E70; */
}

.navbar-light .navbar-brand,
.searchBtn,
#navbarSupportedContent .navbar-nav > li > a {
    color: white;
}

#searchInput {
    background-color: rgb(184, 216, 218);
    padding: 4px;
    border: none;
}

#searchInput::placeholder {
    color: #6f777e;
    font-family: "FontAwesome", "Source Sans Pro";
    padding: 0 4px;
}

/* /////////////////////////////////////////////////////////////// */
/* main card style */


.mainPostImg1, .mainPostImg2, .mainPostImg3, .mainImg{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 229px;
}

.main-post-description {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    bottom: 10%;
    color: white;
    z-index: 2;
}
 

.main-post-title {
    line-height: 119%;
    width: 100%;
    font-size: 2.5em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
}

.main-post-category {
    border-bottom: 2px solid cadetblue;
    font-style: italic;
    font-size: 1.5em;
}

/* card style */
.card-layout {
    text-align: left;
    padding: 0;
}

.card-body {
    padding: 0;
    position: relative;
    width: 100%;
}

/* .card-body > img {
    width: 100%;
    min-height: 229px;
} */

.post-description {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    bottom: 10%;
    color: white;
    z-index: 2;
}

.post-title {
    font-weight: bold;
    line-height: 119%;
    margin: 0;
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.post-category {
    border-bottom: 2px solid cadetblue;
    font-style: italic;
    font-size: 0.9em;
}

.btn-show-post {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 30%;
    font-size: 1.5em;
    padding: 14px 0;
    display: none;
}

.btn-show-post:hover {
    border-color: cadetblue;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
  }
  .animation-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
/* card style */


/* //////////////////////////////////////////////////////////////////// */

/* show blade style */

.fa-arrow-circle-left {
    font-size: 2.5em;
    margin: 20px;
    color: rgb(173, 201, 202);
    cursor: pointer;
}

.fa-arrow-circle-left:hover {
    color: rgba(196, 220, 221, 0.5);
}

.side-title-container {
    position: fixed;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;

    /* background-color: rgb(168, 199, 201); */
    background-color: rgb(60, 93, 119);
    /* background-color: cadetblue; */
}

.side-post-title {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    font-style:  italic;
}

.side-post-category {
    padding:0;
    width: 50%;
    font-style: italic;
    border-bottom: 1px solid #08233b;
    border-radius: 30px;
}

#mainShowContent {
    height: 75vh;
    background-size: 100% 90%;
    background-position: top;
    /* background-position: top right; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}
.blog-body {
    -webkit-box-shadow: 3px 10px 45px -9px rgba(0,0,0,0.79);
    -moz-box-shadow: 3px 10px 45px -9px rgba(0,0,0,0.79);
    box-shadow: 3px 10px 45px -9px rgba(0,0,0,0.79);
    margin-bottom: 5%;
}

.likeAndSaveContainer {
    position: absolute;
    bottom: 5%;
}

.likeAndSaveContainer i {
    font-size: 1.7em;
    margin: 0 20px;
    color: rgb(170, 205, 206);
    cursor: pointer;
}

.likeAndSaveContainer i:hover {
    color: rgba(25, 50, 158, 0.5);
}




/* comments section */
.parent-comments-container {
    width: 100%;
    background-color: rgba(210, 224, 224, 0.63);
}

.comment-from-user-name {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

#comment-text-area {
    border: 2px solid rgb(174, 191, 192);
    border-radius: 10px;
    color: #08233b;
}

.textarea-container {
    padding: 30px;
    border-right: 2px solid rgb(177, 215, 216);
    height: 100px;
}

.comments-col {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 49.5vh;
}

.user-coments-container {
    border: 2px solid rgb(177, 215, 216);
    border-radius: 15px;
    padding: 6px;
    margin-bottom: 10px;
}

.comment-from-user-name,
.created_at {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    border-right: 2px solid rgb(177, 215, 216);
    padding: 0 8px;
    color: rgb(55, 129, 133);
}

.created_at {
    font-size: 1em!important;
    padding: 3px!important;
}

.comment {
    color: rgb(55, 129, 133);
    font-style: italic;
    margin: 0;
    padding: 0 7px;
    line-height: 115%;
    text-align: justify;
}

.comment-action {
    display: inline-block;
    font-size: 1.5em;
    text-align: right;
}

.deleteCommentBtn {
    background-color: transparent;
    /* border: 1px solid rgb(185, 208, 209); */
    color: rgb(55, 129, 133);
    margin-left: 7px;

}

.deleteCommentBtn:hover {
    border-color: rgb(187, 34, 34, 0.3);
    color: rgb(187, 34, 34, 0.6);
    cursor: pointer;
}
/* comments section */
/* show blade style */


/* newBlog blade form validation style */
.main_img_input::-webkit-input-placeholder,
.title_input::-webkit-input-placeholder {
    color: #A64452;
    font-size: 0.7em;
}

[contenteditable=true]:not(:focus):before{
    content:attr(data-text)
}

.blog-msgs {
    display: none;
    padding: 12px;
    margin-bottom: 17px;
    border-radius: 5px;
}

.blog-success-msg {
    color: cadetblue!important;
}
/* newBlog blade form validation style */


/* approveBlog blade style */
.unApprovedBlogsTable {
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.unApprovedBlogsTable tr td {
    width: 15%;
}

.unApprovedBlogsTable tr img {
    width: 170px;
    height: 150px;
}

.btnActionsTd button {
    width: 60%;
    background-color: transparent;
    border: 1px solid white;
    color: rgb(206, 214, 214);
    margin: 5px 0;
}

.btnApprove:hover {
    border-color: rgb(19, 124, 19);
    color: rgb(19, 124, 19);
}

.btnActionsTd button a {
    text-decoration: none;
    color: rgb(206, 214, 214);   
}

.btnEdit:hover {
    border-color: rgb(214, 188, 37);
    color:rgb(214, 188, 37);
}

.btnShow:hover {
    border-color: forestgreen;
    color: forestgreen;
}

.btnDestroy:hover {
    border-color: rgb(168, 47, 47);
    color: rgb(168, 47, 47);
}

